@import "../colors";
@import "../colors";
@import "../fonts";

.flex {

  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.text-align__ {
  &center {
    text-align: center;
  }
}

.justify- {
  &content__ {
    &space-between {
      justify-content: space-between;
    }

    &space-around {
      justify-content: space-around;
    }

    &center {
      justify-content: center;
    }
  }
}

.width-limiter {
  max-width: 1200px;
  margin: 0 auto;
}

.flex- {
  &direction__ {
    &column {
      flex-direction: column;
    }
  }
}

.align- {
  &items__ {
    &center {
      align-items: center;
    }

    &flex-end {
      align-items: flex-end;
    }
  }

  &content__ {
    &flex-end {
      align-content: flex-end;
    }
  }
}

@media (min-width: 501px) {
  .mobile-down {
    display: none;
  }
}

@media (max-width: 500px) {
  .mobile-up {
    display: none;
  }


  .display-mobile {
    display: initial;
  }

  main {
    margin: 0 20px !important;
  }
}

figure.shadowed {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

}

article {
  h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: $color-darker-grey;
    font-family: $font-montserrat;
  }
}

.button {
  height: 40px;
  border-radius: 40px;
  color: white;
  padding: 0 1.7rem;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;

  &.filled {
    border: none;
    background-color: $color-light-red;
  }

  &.outlined {
    border: 2px solid $color-light-red;
    color: $color-light-red;
    background-color: transparent;
  }
}

main > section > article {
  margin-bottom: 75px;
}

.match-height {
  img {
    height: 100%;
    width: auto;
  }
}

.match-width {
  img {
    width: 100%;
    height: auto;
  }
}
