body > footer {
  border-top: 2px solid $color-light-red;
  margin-top: 100px;
  padding: 0 0.7rem;

  #company-title {
    color: $color-light-red;
    font-size: 16px;
    font-family: $font-montserrat, sans-serif;
  }

  div.flex {
    margin: 37px auto 45px;

    > * {
      flex: 1;
    }
  }

  .footer-sub {
    font-weight: bold;
    font-size: 14px;
  }


  #links > ul {
    list-style: none;
    color: $color-brownish-grey;
    font-size: 14px;
    margin-top: 11px;

    a {
      text-decoration: none;
      color: inherit;
      line-height: 26px;
    }
  }

  figcaption {
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 7px;
    color: $color-brownish-grey;
  }


  @media screen and (max-width: 500px) {
    margin-top: 40px;

    div.flex {
      margin-top: 20px;
    }


    & > div, #links {
      flex-direction: column;
      align-items: center;
      display: flex;
    }

    #links {
      margin-top: 12px;
      margin-bottom: 5px;

      ul {
        margin-top: 1px;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

      }
    }

    figure{
      margin-top: 13px !important;
      align-items: center !important;
    }
  }

}