@import "../colors";
@import "../fonts";

header#header {
  background: linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .45)), url(/img/header.jpg) no-repeat top;
  background-size: cover;
  height: 700px;
  max-height: 100vh;
  margin-bottom: 4rem;
  padding-top: 3rem;

  nav {
    h1 {
      font-family: $font-montserrat;
      text-transform: uppercase;
      color: $color-white;
      font-size: 24px;
      font-weight: bold;
    }

    ul {
      align-items: center;
      list-style: none;
      color: $color-white;

      li {
        cursor: pointer;
        text-decoration: none;
        margin: 0 0.5rem;
        border-radius: 20px;
        font-size: 16px;
        padding: 14px 28px;
        border: 2px solid transparent;

        &:hover {
          background-color: rgba(255, 255, 255, 0.5);
          border: 2px solid $color-white;
          border-radius: 20px;
        }

        &:nth-child(2) {
          border: 2px solid $color-white;
        }

        a {
          color: inherit;
          text-decoration: none;
        }
      }
    }


    @media screen and(max-width: 500px) {
      justify-content: center;
      ul {
        padding-left: 0;
      }
    }
  }

  #header-message {
    text-align: center;
    color: $color-white;
    margin: 0 auto;
    max-width: 80%;
    padding-top: 8rem;

    h1 {
      font-family: $font-montserrat, sans-serif;
      font-size: 30px;
      font-weight: bold;
    }

    h3 {
      font-family: $font-roboto;
      font-size: 18px;
    }
  }
}
