@import "../colors";
@import "../fonts";

#how-it-works {
  figure {
    position: relative;
    margin: 0.5rem;
    overflow: hidden;
    max-height: 75vh;
    min-width: 290px;

    img {
      transform: translateY(-50%);
      top: 50%;
      position: relative;
    }

    figcaption {
      position: absolute;
      bottom: 0;
      padding: 2rem;

      span.button {
        padding: 0.3rem 1.2rem;
        font-family: $font-montserrat;
      }

      h2 {
        font-family: $font-montserrat;
        font-size: 24px;
        font-weight: bold;
      }

      p {
        font-size: 14px;
        font-family: $font-roboto;
      }

      h2, p {
        color: $color-white;
      }
    }
  }


  @media screen and(max-width: 500px) {
    figure {
      flex: 0 0 100%;
      max-height: 310px;
      overflow: hidden;

      img {
        width: 100%;
      }
    }
  }
}
