@import "../fonts";
@import "../colors";

article#interests {
  text-align: center;
  max-width: 482px;
  margin: 0 auto;

  header {
    margin-bottom: 43px;
  }

  form {
    label {
      color: #6666;
      font-weight: 300;
      font-size: 18px;
    }

    div {
      margin-top: 25px;
      display: flex;

      input {
        flex: 1;
        border: 1px solid #D4D4D4;
        border-radius: 3px;
        color: #999 !important;
        height: 40px;
        padding: 0.5rem;
      }

      input::placeholder {
        color: #999 !important;
      }
    }
  }

  @media (min-width: 501px) {
    form {
      div {
        align-items: center;

        input {
          margin-right: 10px;
        }
      }
    }
  }

  @media (max-width: 500px) {
    header {
      margin-bottom: 9px;
    }

    form {
      label {
        color: #666;
      }

      div {
        flex-direction: column;
        margin-top: 15px;

        input {
          margin-bottom: 10px;
        }
      }
    }
  }
}