@import "../fonts";
@import "../colors";

#partners-article {
  .images {
    flex-wrap: wrap;
  }

  figure {
    width: 221px;
    flex-basis: initial;
    text-align: center;
    margin-bottom: 1rem;


    h1 {
      font-size: 14px;
      font-family: $font-montserrat, sans-serif;
      font-weight: bold;
      color: $color-darker-grey;
      margin-bottom: 12px;
      margin-top: 17px;
    }

    span {
      color: $color-brownish-grey;
      font-family: $font-roboto, sans-serif;
      font-size: 14px;
      line-height: 14px;
      font-weight: 300;
    }
  }

  button {
    margin-top: 2rem;
  }

  @media (max-width: 500px) {
    button {
      width: 100%
    }
  }
}
