$color-light-red: #ff4e50;
$color-white: #FFF;
$color-darker-grey: #444;
$color-brownish-grey: #666;
$color-aqua: #19d4ca;
$color-very-light-grey: #f7f3f2;
$color-yellowish-orange: #ffa710;
$color-very-light-pink: #e3e3e3;
$color-cornflower: #667df3;
